langchain==0.3.18
langchain-community==0.3.16
langchain-text-splitters==0.3.6
langchain-huggingface
sentence-transformers
streamlit
selenium
webdriver_manager
chromadb
huggingface_hub
streamlit-mic-recorder
